<template>
  <div class="container">
    <h1 class="h1">Control de Candidatos</h1>
    <div class="row">
      <div class="col-sm">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Actualizar</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in candidatos" >
              <td v-bind:candidatos="item">{{ item.id }}</td>
              <td v-bind:candidatos="item">{{ item.nombre }}</td>
              <td v-bind:candidatos="item">{{ item.email }}</td>
              <td class="text-right">
                <div>
  <button :id="item.id" type="button" @click="optenerCandidato" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#updatePersonales" >
 Actualizar Datos Personales
  </button>
</div>
              </td>
            </tr>
          </tbody>
        </table>

      <modal-personales :idCandidato=idCandidato :idUsuario=1></modal-personales>

      </div>
      </div>
  </div>
</template>

<script>
import axios from 'axios'
import ModalPersonales from './modals/ModalPersonales.vue'
export default {
  data () {
    return {
      candidatos: [],
      idCandidato: {},
      filter:[],
    }
  },
  components:{
    ModalPersonales,
  },
  beforeCreate: function() {

  },
  created: function() {
      this.rest();
  },
  methods: {

    rest: function(){
    //Se declara la funcion que usa el codigo postal para buscar las colonias -->
    var that=this;
  // workaround para un problema del lenguaje-->
    axios.get('http://localhost:8090/servicios/getALLCandidato')
    // Se hace la peticion a la url, concatenando el codigo postal ingresado por el usuario -->
    .then(function(response){
      that.candidatos = response.data;
    // Especifica el tipo de dato en particular que queremos -->
    })
    .catch(function(erro){
      console.log('Error: '+error);
    // Oculta mensajes de error del usuario; visible solo para developers -->
    });
  },

  optenerCandidato(event){
    this.filter= this.candidatos.filter(function (candidatos) {
  return candidatos.id == (event.target.getAttribute('id'))
}),
  this.idCandidato = this.filter[0]
  }
},
mounted() {
}
}
</script>
