<template>

<div class="modal fade" id="updatePersonales" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title" id="modalLabel">Actulizar datos personales</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
      <form-personales :candidato=idCandidato :usuario=idUsuario></form-personales>
</div>
</div>
</div>
</div>
</template>
<script type="text/javascript">
import FormPersonales from './forms/FormPersonales.vue'
  export default{
    props:{
      idCandidato: Object,
      idUsuario: Number,
    },
  components:{
      FormPersonales,
    },

  }
</script>
