<template>
	<form method="get" action="/reload">
		<div class="form-row">
			<input name="id" id="id" v-model="id"  aria-label="Candidato a actualizar" class="d-none"/>
			<input name="usuario" id="usuario" v-model="usuario"  aria-label="Usuario que actualiza" class="d-none"/>
			<!-- marca -->
    </div>
		<h6>Datos del Candidato</h6>
		<div class="form-row">
			<!-- nombre -->
			<div class="col pb-2">
				<label for="nombre">Nombre</label>
				<input name="nombre" id="nombre" v-model="nombre"  class="form-control" aria-label="Nombre del cliente" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('email')" />
			</div>
			<div class="col pb-2">
				<label for="email">Email</label>
				<input name="email" id="email" v-model="email"  class="form-control" aria-label="Email del cliente" :class="{'input': true }" maxlength="25" type="text"  @change="myFocus('telefonoFijo')"/>
			</div>

			<div class="w-100"></div>

			<!-- telefono -->
			<div class="col pb-2">
				<label for="telefonoFijo">Telefono Fijo</label>
				<input name="telefonoFijo" id="telefonoFijo" v-model="telefonoFijo"  class="form-control" aria-label="Teléfono Fijo" :class="{'input': true }" maxlength="10" type="text"  @change="myFocus('telefonoMovil')"  />
			</div>
			<!-- correo -->
			<div class="col pb-2">
				<label for="telefonoMovil">Telefono Movil</label>
				<input name="telefonoMovil" id="telefonoMovil" v-model="telefonoMovil"  class="form-control" aria-label="Teléfono Movil" :class="{'input': true }" maxlength="10" type="text"  @change="myFocus('idEscolaridad')"/>
			</div>

			<div class="w-100"></div>

			<!-- Escolaridad -->
			<div class="col pb-2">
					<label for="idEscolaridad">Escolaridad </label>
				<select name="idEscolaridad" id="idEscolaridad" v-model="idEscolaridad"  :class="{'input': true}" class="custom-select" aria-label="Escolaridad"  @change="myFocus('idEtdoEscolaridad')">
					<option value="">Escolaridad</option>
					<option v-for="item in escolaridades" v-bind:escolaridades="item.id" :value="item.id"> {{ item.nivel }} </option>
				</select>
			</div>
			<!-- Estado Escolaridad -->
			<div class="col pb-2">
				<label for="idEtdoEscolaridad">Estado Escolar </label>
				<select name="idEtdoEscolaridad" id="idEtdoEscolaridad" v-model="idEtdoEscolaridad"  :class="{'input': true}" class="custom-select" aria-label="Estado Escolaridad"  @change="myFocus('idEstadoCilvil')">
					<option value="">Estado Escolar</option>
					<option v-for="item in etdoescolaridades" v-bind:etdoescolaridades="item.id" :value="item.id"> {{ item.estado }} </option>
				</select>
			</div>
		 <div class="w-100"></div>
			<!-- Estado Civil -->
			<div class="col pb-2">
				<label for="idEstadoCilvil">Estado Civil </label>
				<select name="idEstadoCilvil" id="idEstadoCilvil" v-model="idEstadoCilvil"  :class="{'input': true }" class="custom-select" aria-label="Estado Civil"  @change="myFocus('fechaNacimiento')">
					<option value="">Estado Civil</option>
					<option v-for="item in ecivil" v-bind:ecivil="item.id" :value="item.id"> {{ item.descripcion }} </option>
				</select>
			</div>
			<div class="col pb-2">
			  <label for="fechaNacimiento">Fecha de Nacimiento</label>
			   <input  name="fechaNacimiento"  v-model='fechaNacimiento' class="form-control" type="date"  id="fechaNacimiento"  @change="myFocus('domicilio')"/>
			</div>
			<div class="w-100"></div>
			<div class="col pb-2">
				<label for="domicilio">Domicilio</label>
				<input name="domicilio" id="domicilio" v-model="domicilio"  class="form-control" aria-label="Domicilio del cliente" :class="{'input': true }" maxlength="25" type="text" @change="myFocus('genero1')" />
			</div>
			<div class="w-100"></div>
			<!-- genero -->
			<div class="col pb-2 align-self-center">
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="genero1" name="genero" v-model="genero" value="H" aria-label="Género masculino" class="custom-control-input" @change="myFocus('genero2')" />
					<label class="custom-control-label" for="genero1">Masculino</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="genero2" name="genero" v-model="genero" value="M" aria-label="Género femenino" class="custom-control-input" />
					<label class="custom-control-label" for="genero2">Femenino</label>
				</div>
      </div>
			<!-- submit -->
			<div class="col">
				<button type="button" class="btn btn-success" v-on:click="update" >
						Actualizar
				</button>
			</div>
		</div>
	</form>
</template>
<script type="text/javascript">
	import axios from 'axios';
	import moment from 'moment';

    export default {
        props: {
            candidato: Object,
            usuario: Number,
        },
        data() {
            return {
							  id:'',
                nombre: '',
                email: '',
                genero: '',
								idEstadoCilvil: '',
								idEscolaridad: '',
								idEtdoEscolaridad: '',
								domicilio: '',
								telefonoFijo: '',
								telefonoMovil: '',
								fechaNacimiento: '2001-01-01',
								id_usuario: this.usuario,
                escolaridades: [],
                etdoescolaridades: [],
                ecivil: [],
            }
        },

        beforeCreate: function() {

        },
				created: function() {
					 // this.nombre= typeof this.candits.nombre;
            this.getEscolaridades();
            this.getEtdoEscolaridades();
						this.getECivil();
        },
        methods: {
					  update: function(){
							axios.post('http://localhost:8090/servicios/updateCandidatoPersonales', {
						    id: this.id,
						    nombre: this.nombre,
						    email:this.email,
								genero:this.genero,
								fecha_nacimiento: this.fechaNacimiento,
								id_escolaridad:this.idEscolaridad,
								id_etdo_escolaridad:this.idEtdoEscolaridad,
								id_estado_civil: this.idEstadoCilvil,
								domicilio: this.domicilio,
								telefono_fijo: this.telefonoFijo,
								telefono_movil:this.telefonoMovil,
								id_usuario: this.usuario
						  })
						  .then(function (response) {
						    console.log(response);
								location.reload();
						  })
						  .catch(function (error) {
						    console.log(error);
						  });
						},
						getEscolaridades: function() {
							axios.get('http://localhost:8090/servicios/getEscolaridades')
							.then(
									response => {
											this.escolaridades = response.data;
									}
							);
            },
					  getEtdoEscolaridades: function() {
							axios.get('http://localhost:8090/servicios/getEtdoEscolaridades')
							.then(
									response => {
											this.etdoescolaridades = response.data;
									}
							);
            },
						getECivil: function() {
							axios.get('http://localhost:8090/servicios/getECivil')
							.then(
									response => {
											this.ecivil = response.data;
									}
							);
            },

						myFocus: function( id ) {
							document.getElementById(id).focus();
						}
        },
				directives: {
					focus: {
						inserted: function (el) {
							el.focus()
						}
					}
				},
				watch:{
					candidato: function(val){
						this.id=this.candidato.id;
						this.nombre=this.candidato.nombre;
						this.email=this.candidato.email;
						this.genero=this.candidato.genero;
						this.telefonoFijo=this.candidato.telefonoFijo;
						this.telefonoMovil=this.candidato.telefonoMovil;
						this.idEscolaridad=this.candidato.idEscolaridad;
						this.idEtdoEscolaridad=this.candidato.idEtdoEscolaridad;
						this.idEstadoCilvil=this.candidato.idEstadoCilvil;
						this.fechaNacimiento=moment(this.candidato.fechaNacimiento).format('YYYY-MM-DD');
						this.domicilio=this.candidato.domicilio;
					}
				},
        mounted() {
        }
    }

</script>
